# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Virtual environments
venv/
env/
.venv/

# Streamlit config
.streamlit/

# OS specific files
.DS_Store
Thumbs.db
